.logo img{
  align-self: center;
}
.navbar-collapse{
  justify-content: end;
}
.bg-custom-blue, .hero{
  background-color: #EDF8FF;
}
.object-fit-cover{
  object-fit: cover;
}

.hero-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-icons{
  display: flex;
  justify-content: center;

}
.social-icons a{
  margin: 0 2px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
align-items: center;
}
.custom-divider::before, .custom-divider::after {
  content: "";
  width: 200px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 0 5px;
}
/* marquee */
.my-teams figure, marquee figure{
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
  font-weight: bold;
}
marquee figure img{
max-width: 60px;
}
form.ket-noi-form .form-group{
margin-top: 1rem;
}
footer{
  margin-top: 5em;
}